<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20F71</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>点点</string>
	<key>CFBundleExecutable</key>
	<string>HBuilder</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>icon@2x.png</string>
		<string>icon@3x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.zqccloud.diandian</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HBuilder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.6</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx45f7388627e8a010</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alixpay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ap4f24192c6cf1c426e410d157d6bc98e7</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>105</string>
	<key>DCLOUD_AD_ID</key>
	<string>123383030503</string>
	<key>DCLOUD_UNISTATISTICS</key>
	<true/>
	<key>DTAppStoreToolsBuild</key>
	<string>12E506</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>18E182</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>14.5</string>
	<key>DTSDKBuild</key>
	<string>18E182</string>
	<key>DTSDKName</key>
	<string>iphoneos14.5</string>
	<key>DTXcode</key>
	<string>1251</string>
	<key>DTXcodeBuild</key>
	<string>12E507</string>
	<key>DumpDecrypterTool</key>
	<string>AppDump From DumpDecrypter Tool</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lightsky</string>
		<string>shark.video</string>
		<string>bobo</string>
		<string>snssdk32</string>
		<string>pptv</string>
		<string>bilibili</string>
		<string>kugouURL</string>
		<string>gaeagj</string>
		<string>qqnews</string>
		<string>zhihu</string>
		<string>doubanradio</string>
		<string>openApp.jdMobile</string>
		<string>imeituan</string>
		<string>tmall</string>
		<string>dianping</string>
		<string>vipshop</string>
		<string>yanxuan</string>
		<string>wccbyihaodian</string>
		<string>taobao</string>
		<string>suning</string>
		<string>kaola</string>
		<string>ctrip</string>
		<string>kuaikanmanhua</string>
		<string>gugutouchmanga</string>
		<string>qrxs</string>
		<string>mailmaster</string>
		<string>jcnhers</string>
		<string>wbmain</string>
		<string>yixin</string>
		<string>ydcourse</string>
		<string>ntesopen</string>
		<string>yddict</string>
		<string>shanbay</string>
		<string>tencentweiboSdkv2</string>
		<string>weibosdk2.5</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>cydia</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>weibosdk</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqzone</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>hbuilder</string>
		<string>streamapp</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>qqmap</string>
		<string>pinduoduo</string>
		<string>awemesso</string>
		<string>kwai</string>
		<string>weixinULAPI</string>
		<string>alipay</string>
		<string>safepay</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>APP需要您的同意，才能访问相机进行拍摄二维码信息，如禁止将无法使用该功能</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>APP需要您的同意，才能访问位置展示附近信息，如禁止将无法展示信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>APP需要您的同意，才能持续访问定位位置展示持续更新信息，如禁止将无法持续更新位置信息</string>
	<key>NSLocationUsageDescription</key>
	<string>访问位置信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>APP需要您的同意，才能访问定位位置展示附近信息，如禁止将无法展示附近信息</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>使用麦克风</string>
	<key>NSMotionUsageDescription</key>
	<string>使用传感器</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>APP需要您的同意，才能访问相册进行选择照片上传，如禁止将无法上传选择照片上传</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>APP需要您的同意，才能访问相册进行选择照片上传，如禁止将无法上传选择照片上传</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>请放心，开启权限不会获取您在其他站点的隐私信息，该权限仅用于标识设备、第三方广告、并保障服务安全与提示浏览体验</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>f7s53z58qe.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>238da6jt44.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>x2jnk7ly8j.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>22mmun2rn5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>r3y5dwb26t.skadnetwork</string>
		</dict>
	</array>
	<key>StatusBarBackground</key>
	<string>#FCFCFC</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreenAD</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UniversalLinks</key>
	<string>https://dl.zqccloud.com/app.html/</string>
	<key>dcloud_uninview_background</key>
	<true/>
	<key>dcloud_uniplugins</key>
	<array>
		<dict>
			<key>plugins</key>
			<array>
				<dict>
					<key>class</key>
					<string>CLAlerView</string>
					<key>name</key>
					<string>CL-UpDater</string>
					<key>type</key>
					<string>module</string>
				</dict>
			</array>
			<key>version</key>
			<string>1.46</string>
		</dict>
	</array>
	<key>getui</key>
	<dict>
		<key>appid</key>
		<string>5KD3rlxNPg6DENIyRRPUi1</string>
		<key>appkey</key>
		<string>U478Hsv8eN6saRkLzRFpEA</string>
		<key>appsecret</key>
		<string>MikcF3fti39ZEELqSen669</string>
	</dict>
	<key>marketChannel</key>
	<string>com.zqccloud.diandian|__UNI__23B7D40|123383030503|</string>
	<key>uniad</key>
	<dict>
		<key>360</key>
		<dict>
			<key>appid</key>
			<string></string>
			<key>splash_slotid</key>
			<string></string>
		</dict>
		<key>csj</key>
		<dict>
			<key>appid</key>
			<string>5171562</string>
			<key>splash_slotid</key>
			<string>887476546</string>
		</dict>
		<key>gdt</key>
		<dict>
			<key>appid</key>
			<string>1111761689</string>
			<key>splash_slotid</key>
			<string>4061582791556983</string>
		</dict>
		<key>ks</key>
		<dict>
			<key>appid</key>
			<string>535900742</string>
			<key>splash_slotid</key>
			<string>5359007659</string>
		</dict>
		<key>splash_adpid</key>
		<string>1801344039</string>
	</dict>
	<key>weixin</key>
	<dict>
		<key>UniversalLinks</key>
		<string>https://dl.zqccloud.com/app.html/</string>
		<key>appSecret</key>
		<string>d36dfeaa8433103638619fe9bdd8e0f4</string>
		<key>appid</key>
		<string>wx45f7388627e8a010</string>
	</dict>
</dict>
</plist>
